html, body {
  font-family: 'Cabin', sans-serif;
  text-align: center;
}
button {
  touch-action: none;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  width: 200px;
  height: 30px;
  min-height: 25px;
  max-height: 35px;
}
