:root {
    font-family: "Quicksand", sans-serif;
    color: #3d1e6d;
}
body {
    background-image: url(https://cdn.egg.cafe/DSCF0052.JPG);
    background-position: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
}
@media (orientation: portrait) {
    body {
        background-image: url(https://cdn.egg.cafe/mainBgPortrait.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: fixed;
        background-attachment: fixed;
    }
}
.welcome {
    font-size: 120%;
    margin: auto;
    z-index: 2;
    padding: 2rem, 2rem, 2rem, 2rem;
    position: absolute;
}
.contact {
    font-size: 80%;
}
.about {/*I hate css with a passion*/
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  margin-left: auto;
  margin-right: auto;
  --border-radius-tl: 0.5rem;
  --border-radius-tr: 0.5rem;
  --border-radius-br: 0.5rem;
  --border-radius-bl: 0.5rem;
  justify-content: center;
  display: flex;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  position: relative;
  text-align: var(--alignment);
  z-index: 1;
  height: 20vh;
  width: 75vw;
  background-color: rgba(246, 215, 252, .67);
  box-shadow: 0rem 1.237rem 4rem 0rem rgba(246, 204, 255);
  border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
}
.mysterious-box { /* why the fuck are there variables here I don't remember why I did it like that*/
    --alignment: center;
    --flex-alignment: flex-start;
    --indent-left: 0;
    --indent-right: 1;
    --margin-left: auto;
    --margin-right: auto;
    --border-radius-tl: 0.5rem;
    --border-radius-tr: 0.5rem;
    --border-radius-br: 0.5rem;
    --border-radius-bl: 0.5rem;
    flex-direction: column;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    width: 75vw; 
    min-height: 10vh;
    height: 15hv;
    position: relative;
    margin-bottom: 4vh;
    top: 120%;
    padding-top: 1vh;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
    background-color: rgba(246, 215, 252, .67);
    box-shadow: 0rem 1.237rem 4rem 0rem rgba(246, 204, 255);
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
}

.me {
    position: relative;
    max-width: 100%;

}
/* Consider: Adding a proper footer to the page */
/* Redefine these colors later, these were autofilled */
a:link {
    color: #3d1e6d;
}
a:hover {
    color: #7a3fbf;
}
a:visited {
    color: #5e2ca5;
}
.description {
    font-size: 95%;
    color: #5e2ca5;
}
button {
    margin-left: 2vw;
    background-color: #f6d7fc;
    color: #3d1e6d;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
input {
    background-color: #f6d7fc;
    color: #3d1e6d;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}